body {
  margin: 0;
  background: url("../src/imgs/Scotland.jpg") no-repeat center center fixed;
  background-size: cover; /* sets diminsions to browser size */
  background-repeat: no-repeat;
}

/*** body nav settings ***/
.name > span{
  font-size: 12pt;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  /* font-family: monospace; */
  float: left;
}

#homebodynav{
  margin-left:auto;
  margin-right: auto;
  /* width: 70%; */
  background:white;
  height: 40px;
  border-bottom: 1px gray solid
}

#homebodynav a{
  color: black;
}

.navlist{
  display:block;
  list-style: none;
  float:right;
  font-weight:bolder;
  /* font-family: monospace; */
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  margin: 0px;
  height:100%;
}

.navlist li{
  color:black !important;
  font-size: 12pt;
  float: left;
  height: 100%;
}

.navlist li:hover{
  background:lightblue;
  color:white;
  text-decoration: underline;
}

.name{
  font-weight: bolder;
  text-decoration: underline !important;
}

.top-right-nav {
  display: flex;
  justify-content: flex-end !important;
  width: 90%;
}

/*** end of body nav settings ***/


/*** Home Page **/

#homeDiv {
  height:100%;
}

.mainContent{
  width:100%;
  background:white;
  text-align:justify;
  padding:15px;
  max-height: 200px;
  height: 100%;
  /* margin-top:-8px; */
}

#aboutMeContainer{
  max-width: 700px;
  background:white !important;
  padding: 0 15px 0 15px;
}

#aboutMeHeader{
  padding: 0 15px 0 15px;
  font-family: 'Playfair Display', serif;
}

#aboutMeDetail{
  font-family: 'Montserrat', sans-serif;
}

#homeHeader{
  background:darkgray;
  opacity: 0.9;
}

img.profilePhoto {
  max-width: 10%;
  /* max-height: 20%; */
  border-radius: 50%;
  border: 2px double white;
  margin: 5% 9% 0 0;
  margin-top:50px;
}

#txtName{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 0;
}

#txtWorkTitle{
  font-family: 'Alegreya SC', serif;
  margin-bottom:0;
}

/* #aboutMeContainer{
  background:lightgray;
} */
.center{
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
